################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/CsTests/bin/Debug
/CsTests/obj
/CsTests/StaxBar.csproj.user
